@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); 

:root {
    --base-dark : #222831;
    --base-light : #EEEEEE;
    --dark-blue : #082032;
    --blue : #0a1a25;
}

/*SCROLLBAR*/

/* Width */
::-webkit-scrollbar {
    width: 7px;
}

/* Background */
::-webkit-scrollbar-track {
    background: var(--dark-blue);
}

/*The Scrollbar itself*/
::-webkit-scrollbar-thumb {
    background: var(--base-light);
    border-radius: 5px;
    margin-right: 1em;
}
  
::-webkit-scrollbar-thumb:hover {
    background : gray;
}


* {
    font-family: 'Quicksand', sans-serif;
    font-weight : 800;
    letter-spacing: 1.1px;
}

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--base-dark);
}

.contact-app-wrapper {
    display : flex;
    flex-direction : row;
    justify-content: center;
}

.contact-item-wrapper {
    overflow : auto;
    height : 25em;
}

.contact-app {
    background-color: var(--dark-blue);
    color: var(--base-light);
    width: 30em;
    height : 33em;
    margin: 10vh auto;
    padding: 1em;
    text-align : center;
    border-radius: 1em;
    border : 1px solid var(--base-light);
}

.contact-item {
    background-color: var(--blue);
    border: 1px solid var(--base-light);
    border-radius : 1em;
    padding : 0.4em 0.4em 0.4em 0.9em;
    display : flex;
    flex-direction : row;
    width : 90%;
    margin : 2vh auto;
    align-items : center;
    gap : 1em;
}

.contact-item-body {
    text-align : left;
    width : 70%;
}

.contact-item-body h3 {
    font-size : 15px;
} 

.contact-item-body p {
    font-weight: 300;
    font-size: 13px;
}

.contact-profile img{
    width: 45px;
    height : 45px;
    border-radius : 50%;
}

.contact-item-delete {
    width: 45px;
    height : 45px;
    border-radius : 50%;
    background-color: var(--base-light);
    border : 1px solid var(--base-dark);
    float : right;
}

.contact-item-delete:hover {
    background-color: var(--base-dark);
    border : 1px solid var(--base-light);
    color : var(--base-light);
    transition : 0.4s;
    transform : rotate(360deg);
    cursor : pointer;
}

.contact-input input {
    background-color: var(--base-light);
    padding: 10px;
    border-radius: 1em;
    border : 1px solid var(--dark-blue);
    width : 90%;
    margin : 1vh auto;
}

.contact-input button {
    background-color: var(--dark-blue);
    padding: 10px;
    border-radius: 1em;
    border : 1px solid var(--base-light);
    width : 40%;
    margin : 1vh auto;
    color: var(--base-light);
}

.contact-input button:hover {
    background-color: var(--base-light);
    transition: 0.4s;
    cursor: pointer;
    color : var(--blue);
}